# Core functionality - changes here should be rare!
/src/app.py                   @dapdomma
/src/backend/database.py      @dapdomma
/src/backend/routers/auth.py  @dapdomma

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dapdomma
